importFrom(stats, optimize)
importFrom(grDevices, n2mfrow)
importFrom(affy, indexProbes, intensity)
importFrom(lattice, panel.lines)

export("pspline", "normalize.pspline", "normalize.AffyBatch.pspline", "turbotrend", "panel.pspline")
S3method(print, turbotrend)

useDynLib(TurboNorm)
